packages:
  yum:
    ruby: []
    aws-cli: []

files:

  "/var/www/myscript.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      echo Defaults:root \!requiretty >> /etc/sudoers
      cd /home/ec2-user
      aws s3 cp s3://aws-codedeploy-eu-west-1/latest/install . --region eu-west-1
      chmod +x ./install
      sudo ./install auto

  "/var/www/html/hello-cron.txt" :
    mode: "000644"
    owner: root
    group: root
    content: |
      # comments
      * * * * * root /usr/bin/php /var/www/html/hello.php > /dev/null
      

container_commands:

  01_runmyshellscript:
    command: "/var/www/myscript.sh"
